* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

header {
    background-color: #22577E;
}

main {
    background-color: #F6F2D4;
}

footer {
    background-color: #22577E;
}

a,
p,
h1 {
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 40px;
    color: white;
}

.nav-header {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-header span{
    color: rgb(17, 255, 0);
}

.item-nav {
    padding: 10px;
}

.item1 {
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.item1 a:hover {
    color: rgba(198, 196, 196, 0.754);
}

.item2 {
    flex: 5 1 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 10%;
}

.item2 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0 10px;
}

.item2 a:hover {
    color: rgba(198, 196, 196, 0.754);
}

.item3 {
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.item3 a {
    height: 23px;
    margin: 0 10px;
}

.logo-social {
    height: 23px;
}

.logo-social:hover {
    transform: scale(1.5);
    transition-duration: 0.2s;
}

.div2 {
    text-align: center;
}

.section {
    display: flex;
    flex-flow: row wrap;
}

.card {
    flex: 1 1 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
}

.card img:hover {
    cursor: pointer;
}

.card img {
    height: 500px;
    width: 300px;
    object-fit: cover;
}

.card-info {
    opacity: 0;
    transition: 0.2s;
    background-color: black;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 500px;
    padding: 10px;
}

.card-info:hover {
    opacity: 1;
    cursor: pointer;
}

.navegacion {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 38px;
    margin-bottom: 10px;
}

body#home main nav a:nth-child(1) {
    background-color: #22577E;
    color: rgb(0, 0, 0);
    padding: 0 10px;
}

.paddin-item {
    padding: 10px;
}

.footer {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .nav-header {
        flex-flow: column nowrap;
    }

    .item1,
    .item2,
    .item3 {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .nav-header {
        flex-flow: column nowrap;
    }

    .section {
        flex-flow: column nowrap;
    }

    .card img {
        width: 80%;
        height: auto;
        object-fit: contain;
    }

    .card img:hover {
        transform: scale(0.95);
        transition-duration: 0.1s;
    }

    .card-info {
        visibility: hidden;
    }

    .card-info:hover {
        display: none;
    }
}